<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuborg</title>
    <link rel="shortcut icon" href="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2Fbdcxbupg_400x400_M6o_icon.ico?v=1563852155348">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="canonical" href="https://wikiki.github.io/form/switch/">
    <script src="/node_modules/bulma-extensions/bulma-calendar/dist/bulma-calendar.min.js"></script>
    <link rel="stylesheet" href="./dashboard.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1154087239010313",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>
    <nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="./">
          <img src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2FUntitled%20(2).png?v=1563849256489" >
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="./">
            Home
          </a>
          <a class="navbar-item" href="./status">
            Status
          </a>
          <a href="https://discord.gg/Frpp3SQ" class="navbar-item">
            Support
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a onclick="window.location.href = './invite'" class=" has-shadow button is-info">
                <strong>Invite</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-info has-shadow">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Cuborg Ads</h1>
        </div>
      </div>
    </section>
    <body>
      <section class="section">
        <div class="container">

            
            
                     <h1 class="title">Reach an audience of over 300+ members through Cuborg Ads.</h1>
             <h1 class="subtitle">Create an ad using our template and sign up. You should recieve an email on the status of your application
          in 2-3 days.<br><a href="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2FUntitled.png?v=1564629311417">Download template</a></h1>
                      <div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input" id="email" type="email" placeholder="e.g. alexsmith@gmail.com">
  </div>
</div>
                    <div class="field">
  <label  class="label">Image URL</label>
  <div class="control">
    <input id="imageUrl" class="input" placeholder="e.g imagehoster.com/wreifj9.png">
  </div>
</div>
          
              <div class="field">
  <label class="label">Redirect URL</label>
  <div class="control">
    <input id="redirectUrl" class="input" placeholder="e.g https://fakesite.com/ads/r73q9efwn.html">
  </div>
</div>
            <a class="button is-info" onclick="sendData()">Submit</a>
            
            
            
            
            
            
         
        </div>
        
  
        

        
      </section>
      <br><br><br>
     
  </body>
  <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      // Check for click events on the navbar burger icon
      $(".navbar-burger").click(function() {
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
    });
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        $notification = $delete.parentNode;
        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
  </script>
<script src="./ads.js?ddsd"></script>

  </body>
</html>
