<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuborg</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1154087239010313",
    enable_page_level_ads: true
  });
</script>
    <link rel="shortcut icon" href="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2Fbdcxbupg_400x400_M6o_icon.ico?v=1563852155348">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="./">
      <img src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2FUntitled%20(2).png?v=1563849256489" >
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="./">
        Home
      </a>

      <a class="navbar-item" href="./status">
        Status
      </a>
  <a href="https://discord.gg/Frpp3SQ" class="navbar-item">
        Support
      </a>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a onclick="window.location.href = './invite'" class=" has-shadow button is-info">
            <strong>Invite</strong>
          </a>
          <a onclick="window.location.href = './dashboard'" class=" has-shadow button is-info">
            <strong>Dashboard</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-info has-shadow">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Press Releases </h1>
      <h2 class="subtitle">
Public Statements released to the Media.
      </h2>
    </div>
  </div>
</section>
 
    
    <body>
      <section class="section">
    <div class="container">
      <h1 class="title">What data do we collect?</h1>
      <h2 class="subtitle">
         Written by the Cuborg Staff. | 7/31/2019
      </h2>  
      
      <p>
   
        
        What data does Cuborg collect and where are we using it? <br><br>
	Cuborg collects the following information from it’s users: your Discord id, 
        your Cubash username, guild id, and bot preferences for your guild. In the past we collected IP’s in an attempt to block more than 5 IP’s from verifying an account. We stopped collecting the IP’s in the interest of the public.
	<br><br>We use your Cubash username in two places in our software. The first place we use it is to change your Discord username to your Cubash username. We also use your Cubash username to fetch your profile picture which is shown in the verification success prompt.
<br><br>
	The most important and vital thing we collect is your Discord ID. Your id is available to the public and define who you are to our bots. The information that we collect will be stored under your Discord ID. In order to keep track of whose data is whose, we store it under your Discord ID. We are able to fetch your ID initially through the verification prompt (it will be attached to the /verify?userid=youruseridhere).
<br><br>
	The bot preferences are required to make sure the Dashboard works. You’ll notice that in one of the portions of the dashboard you are provided the ability to configure what commands can be used. This consists of General Commands and Verification Commands. When you flick a switch in your desired direction it will return a value of “true” or “false” to our server, which we will then store in our database under your Guild ID. 
	<br><br>
        Cuborg may also use other data however this information is either provided through the DISCORD API or by web scraping the Cubash webpage. We do not store any of this information.

        
        
      
      </p>
    
    </div>
      </section>
      
      
  <section class="section">
    <div class="container">
      <h1 class="title">Our thoughts on Finobe</h1>
      <h2 class="subtitle">
         Written by our founder, Laphatize. | 7/30/2019
      </h2>  
      
      <p>
      Cuborg usually doesn't like to comment about conflicts relating to the Cubash platform, however there has recently been an issue that needs to be addressed.
      Cubash is very different from Finobe. Cubash has an entirely different client and is not a direct clone of another game. Do not confuse Cubash with Graphictoria, despite being made by the same person..they are very different. Finobe on the other hand is based of the ROBLOX client. Finobe has receieved many DMCA warnings from ROBLOX, but all they do is change servers. Sure, we don't really care about this. But, it really starts to affect the Cubash community when they start attacking us. It's one thing to make innovations in your game to beat the competitors but it is not okay to spread false rumors to get a leg up in the game. Cuborg 
        does not approve what Finobe is doing and we strongly advice the community to stop using their platform. The creator of Cubash is just a human, he isn't a bad person. When you spread rumors it can really mess up a person. It's ridiculous that you'd call someone a pedophile just because you're jealous of them. Just stop! Stick to your own platform and stop screwing with the others.
      
      <br>  <br> - Laphatize
      
      </p>
    
    </div>
      </section>
      
            <img onclick="window.location.href = 'https://discord.gg/VKWp9fW'" src="https://cdn.discordapp.com/attachments/606247744977371147/606933542102106112/unknown.png">
          
          
      
      
</body>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});
      
      document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    $notification = $delete.parentNode;
    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
    </script>
  </body>
</html>