<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuborg</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1154087239010313",
        enable_page_level_ads: true
      });
    </script>
    <link rel="shortcut icon" href="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2Fbdcxbupg_400x400_M6o_icon.ico?v=1563852155348">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="./">
      <img src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2FUntitled%20(2).png?v=1563849256489" >
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="./">
        Home
      </a>

      <a class="navbar-item" href="./status">
        Status
      </a>
  <a href="https://discord.gg/Frpp3SQ" class="navbar-item">
        Support
      </a>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a onclick="window.location.href = './invite'" class=" has-shadow button is-info">
            <strong>Invite</strong>
          </a>
          <a onclick="window.location.href = './dashboard'" class=" has-shadow button is-info">
            <strong>Dashboard</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-info has-shadow">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Hi, I'm Cuborg! </h1>
      <h2 class="subtitle">
        I can verify Cubash accounts through Discord.
      </h2>
    </div>
  </div>
</section>
 
    
    <body>
  <section class="section">
    <div class="container">
      <h1 class="title">How does Cuborg work?</h1>
      <h2 class="subtitle">
        When an user runs the <span class="highlight"><code>!verify</code></span> command, Cuborg will check it's database to see if the user's id is there. If not it will send a URL to that user that with the user's id supplied in the paramaters. The user will be redirected to a page where they will have to enter their username. Once, they've done so, they'll recieve a 5 charectar code to paste into their bio as a form of verification. If they did everything correctly the will be added to the database.
      </h2>  
    
    </div>
      </section>
        <section class="section">
    <div class="container">
      <h1 class="title">Why should I add Cuborg?</h1>
      <h2 class="subtitle">
         Cuborg was made for Cubash game communities. You don't have to worry about random people destroying the zen of your server. Your server will be limited to only those who play Cubash.
      </h2>  
    
    </div>
      </section>

              <section class="section">
    <div class="container">
      <h1 class="title">Where do I start?</h1>
      <h2 class="subtitle">
         Click the Invite button on the top of this page and add it to your desired server. Once, you've added it to your server run <span class="highlight"><code>!setup</code></span>.
      </h2>  
    
    </div>
                
      </section>
      
    <center>     <h1>
         <a href="./ads"> Want to advertise on Cuborg? Join our advertising platform.</a> 
          </h1>
          
          <img onclick="window.location.href = 'https://discord.gg/VKWp9fW'" src="https://cdn.discordapp.com/attachments/606247744977371147/606933542102106112/unknown.png">
          </center>       
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="SSMBN454PQ2AN" />
<input type="hidden" name="currency_code" value="USD" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>

  Please note you'll have to create a Cubash account at cubash.com to use Cuborg.<br> &copy <a href="https://laphatize.com">Laphatize</a> 2019
    </p>
  </div>
</footer>
      
      
      
</body>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});
      
      document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    $notification = $delete.parentNode;
    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
    </script>
  </body>
</html>