<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Cuborg Setup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section ">
    <div class="container">
      <h1 class="title has-text-centered">
          Thanks for adding Cuborg!
      </h1>
      <div class="field has-text-centered ">
<h1 class="subtitle has-text-centered">
   We need to setup a few things before we get started.
        </h1>
        
        <h1 class="is-size-4">
           Step 1 : Create the role 'verified'. Ensure that the role is the highest in the role list.<br>
          <img width="200" src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2FAnnotation%202019-07-22%20104139.png?v=1563806513565">
          <br><img width="500" src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2FAnnotation%202019-07-22%20104425.png?v=1563806677374">
           <br><img width="500" src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2FAnnotation%202019-07-22%20104600.png?v=1563806775213">
          <br><img width="500" src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2Fimage.png?v=1563806879126">
          <br> Step 2: Run the command '!check'.
        </h1>
</div>

    </div>
    

    
  </section>
    
    <script src="./client.js?"></script>
  </body>
</html>