<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title> 1 | Cuborg Verification</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    
    <section class="hero is-success is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container">

              <span style="font-size:400%;" class="fa fa-trophy"></span><br><br>
      <h1 class="title">

            We're all done here. Make sure you run !verify one more time when you get on the server, this will give you the verified role.
      </h1>
    </div>
  </div>
</section>
  </body>
</html>