<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title> 1 | Cuborg Verification</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    
    <section class="hero is-info is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
Please enter your Cubash username.
      </h1>
         <div class="field ">
  <div class="control">
    <center>
    <input id="username" style="width:50%;text-align:center;" class="input is-info is-medium has-text-centered" type="text" placeholder="Username here">
      <a onclick="step1()" class="button is-light is-medium">Next</a>
</center>
      </div>
</div>
      
    </div>
  </div>
</section>
    
    
    
  <section class="section">
    <div class="container">
      <h1 class="title">
        Step 1 | What is your Cubash Username?
      </h1>
      <div class="field">

      <br>
      <a onclick="step1()" class="button is-primary is-large is-rounded">Next</a>
    <br>
  <br>
    
    <a href="https://discordapp.com/oauth2/authorize?client_id=602661220881006592&scope=bot&permissions=8">Add Cuborg to your server.</a>
    
    
      
    </div>
    

    
  </section>
    
    <script src="./client.js?"></script>
  </body>
</html>