<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title> 1 | Cuborg Verification</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    
    <section class="hero is-info is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
Please enter your Cubash username.
      </h1>
         <div class="field ">
  <div class="control">
    <center>
    <input id="username" style="width:50%;text-align:center;" class="input is-info is-medium has-text-centered" type="text" placeholder="Username here">
      <a onclick="step1()" class="button is-light is-medium">Next</a>
      <br>
              <img onclick="window.location.href = 'https://discord.gg/VKWp9fW'" src="https://cdn.discordapp.com/attachments/606247744977371147/606933542102106112/unknown.png">
            
          
</center>
      </div>
</div>
      
    </div>
  </div>
</section>
    
    

    
    <script src="./client.js?"></script>
  </body>
</html>