<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title> 1 | Cuborg Verification</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    
    <section class="hero is-info is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
Please put the code below in the top of your bio/blurb on Cubash.
      </h1>
      <br>
      <h2  class="subtitle" style="font-size:200%;">
        
        <span id="blurb" style="background-color:white;color:hsl(204, 86%, 53%);"></span> 
      <a onclick="step2()" style="margin-top:-2.5px;" class="button is-light is-medium">Next</a>

        
      </h2>        <br>
<a style="color:white;" href="./tutorial">Click here if you're unsure on how to do this step.</a>     
      
    </div>
  </div>
</section>


    
 
    <script src="./ixd.js?1"></script>
  </body>
</html>