<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuborg</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1154087239010313",
    enable_page_level_ads: true
  });
</script>
    <link rel="shortcut icon" href="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2Fbdcxbupg_400x400_M6o_icon.ico?v=1563852155348">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="./">
      <img src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2FUntitled%20(2).png?v=1563849256489" >
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="./">
        Home
      </a>

      <a class="navbar-item" href="./status">
        Status
      </a>
  <a href="https://discord.gg/Frpp3SQ" class="navbar-item">
        Support
      </a>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a onclick="window.location.href = './invite'" class="button is-info">
            <strong>Invite</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Verification Tutorial</h1>
      <h2 class="subtitle">
        A simple guide to verify your Cubash account through Cuborg.
      </h2>
    </div>
  </div>
</section>
    
    <body>
  <section class="section">
    <div class="container">
      <h1 class="title">Step 1:</h1>
      <h2 class="subtitle">
         Enter your username into the input box.
      </h2>
      <center>
      <img src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2Fimage.png?v=1564544051982">
    </center>
    </div>
      </section>

      
        <section class="section">
    <div class="container">
      <h1 class="title">Step 2:</h1>
      <h2 class="subtitle">
         Copy the code provided.
      </h2>
      <center>
      <img src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2Fimage.png?v=1564544111231">
    </center>
    </div>
      </section>
      
            <section class="section">
    <div class="container">
      <h1 class="title">Step 3:</h1>
      <h2 class="subtitle">
         Paste the code in the top of your bio. Make sure you leave a line of space underneath the code.
      </h2>
      <center>
      <img src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2Fimage.png?v=1564544156497">
    </center>
    </div>
      </section>
      
             <section class="section">
    <div class="container">
      <h1 class="title">Step 4:</h1>
      <h2 class="subtitle">
        If you did everything correctly, you will see this screen.
      </h2>
      <center>
      <img src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2Fimage.png?v=1564544191622">
    </center>
    </div>
      </section>
      
            <section class="section">
    <div class="container">
      <h1 class="title">Step 5:</h1>
      <h2 class="subtitle">
       Type !verify in Discord and Cuborg should response something like:
      </h2>
      <center>
      <img src="https://cdn.glitch.com/c5027f9c-fe50-4af6-bc02-3a37feb9783f%2Fimage.png?v=1564111353146">
    </center>
    </div>
      </section>


            <section class="section">
    <div class="container">
      <center>    <h1 class="title">Nice job! You completed this tutorial!</h1></center>
  
      
     
    </div>
      </section>

      
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="SSMBN454PQ2AN" />
<input type="hidden" name="currency_code" value="USD" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>

  Please note you'll have to create a Cubash account at cubash.com to use Cuborg.<br> &copy <a href="https://laphatize.com">Laphatize</a> 2019
    </p>
  </div>
</footer>
      
      
      
</body>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});
    </script>
  </body>
</html>